.formWrapper{
    width: 95%;
    max-width: 572px;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    height:fit-content;
    max-height: 90vh;
    background: rgba(239,239,239,0.85);
    border: 0;
    border-radius: 15px;
    padding: 2rem;
}
.formWrapper h3{
    font-size: 30px;
    margin-bottom: 10px;
}
.formWrapper form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px;
}
.formWrapper input,
.formWrapper select{
    background: #fbfbfb;
    border: 0;
    outline:0;
    color: #333;
    font-size: 1rem;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    padding: 12px;
    border-radius: 15px;
    font-family: var(--font-body);
    box-sizing: border-box;
}
.formWrapper button{
    background: #e3e3e3;
    border: 0;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 15px;
    padding: 12px 30px;
    color: #000;
    cursor: pointer;
}
